
.hs-radio-group { 
  display: flex;
  justify-content: flex-start;
  width: 300px;
  margin: 0 0 4px 30px;
  text-align: right;
  .hs-ranking{
    width: 100%;
    margin: 0;
  }
}

.hs-ranking{
  display: flex;
  flex: 1 0 100%;
  align-items: center;
  height: 24px;
  margin: -5px 0;
  background: #2382ca;
  border: 1px solid darken(#0267b5, 5%);
  border-radius: 0px;
  -webkit-box-shadow: -1px -1px 4px 2px rgba(0, 0, 0, 0.23) inset;
  -moz-box-shadow: -1px -1px 4px 2px rgba(0, 0, 0, 0.23) inset;
  box-shadow: -1px -1px 4px 2px rgba(0, 0, 0, 0.23) inset;
 


  .hs-ranking-bar {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    // line-height: 24px;
    height: 22px;
    padding: 1px 5px;
    font-size: 10px;
    font-weight: 700;
    color: $white;
    text-align: left;
    background-image: linear-gradient(45deg, #0267b5 25%, #0076d1 25%, #0076d1 50%, #0267b5 50%, #0267b5 75%, #0076d1 75%, #0076d1 100%);
    background-size: 39.60px 39.60px;
    border: 1px solid #0267b5;
    border-right: 4px solid #0267b5;
    border-radius: 0px;
    // background: $color_light_lime;
    // background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    // background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    // background-image: -hs-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -hs-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -hs-transition-property: width, background-color;
    transition-property: width, background-color;
    // -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    // box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  }
}
.hs-radio.five:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 5%;
  background-color: #f63a0f;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -hs-transition-property: width, background-color;
  transition-property: width, background-color;
}

.hs-radio.twentyfive:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 25%;
  background-color: #f27011;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -hs-transition-property: width, background-color;
  transition-property: width, background-color;
}

.hs-radio.fifty:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 50%;
  background-color: #f2b01e;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -hs-transition-property: width, background-color;
  transition-property: width, background-color;
}

.hs-radio.seventyfive:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 75%;
  background-color: #f2d31b;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -hs-transition-property: width, background-color;
  transition-property: width, background-color;
}

.hs-radio.onehundred:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 100%;
  background-color: #86e01e;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -hs-transition-property: width, background-color;
  transition-property: width, background-color;
}

.hs-radio {
  display: none;
}

.hs-label {
  position: relative;
  display: inline-flex;
  z-index: 100;
  line-height: normal;
  // width: 100%;
  padding: 4px 8px;
  margin: 0 2px 0 7px;
  font-size: 10px;
  font-weight: 700;
  color: $gray-light;
  border: 2px solid #0267b5;
  //border-bottom: none;
  border-radius: 3px;
  text-align: center;
  background: #f8f8f8;
  cursor: pointer;
  &::before {
    position: absolute;
    bottom: -6px;
    left: 55%;
    content:'';
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #f8f8f8;
    z-index: 100;
    // transform: translateX(-50%);
  }
  &::after {
    position: absolute;
    bottom: -8px;
    left: 54%;
    content:'';
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    border-top: 8px solid #0267b5;
    z-index: 99;
    // transform: translateX(-50%);
  }
 
}

.hs-radio:checked + .hs-label {
  position: relative;
  top: -6px;
  padding-top: 4px;
  color: white;
  background: rgb(64, 64, 64);
  border: 1px solid $white;
  &::before {
    bottom: -6px;
    border-top: 6px solid #404040;
    border-left: 6px solid transparent;
    border-right:6px solid transparent;
    transform: translateX(-50%);
    z-index: 100;
  }
  &::after {
    bottom: -6px !important;
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right:6px solid transparent;
    transform: translateX(-50%);
    z-index: 99;
  }
}

.hs-ranking-bar-stacker {
  flex-direction: column;
}