.hs-ranking-bar-container {
  width: 400px;
  margin: 60px auto;
  text-align: center;
  .hs-ranking {
    width: 400px;
    margin: 0 auto;
  }
}
.hs-ranking {
  padding: 3px;
  margin-top: 6px;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
  background: $hs-gray;
  //Instead of the line below you could use @include border-radius($hs-radius, $hs-vertical-radius)
  border-radius: 0px;
  //Instead of the line below you could use @include box-shadow($hs-shadow-1, $hs-shadow-2, $hs-shadow-3, $hs-shadow-4, $hs-shadow-5, $hs-shadow-6, $hs-shadow-7, $hs-shadow-8, $hs-shadow-9, $hs-shadow-10)
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.16);
}
.hs-ranking-bar {
  position: relative;
  height: 10px;
  padding-left: 10px;
  font-size: 9px;
  font-weight: 700;
  color: #2e2e2e;
  background-image: -hs-linear-gradient(right, #e8921e, #f2d32f, #86e01e);
  background-image: linear-gradient(to right, #e8921e, #f2d32f, #86e01e);
  //Instead of the line below you could use @include border-radius($hs-radius, $hs-vertical-radius)
  border-radius: 0px;
  //Instead of the line below you could use @include box-shadow($hs-shadow-1, $hs-shadow-2, $hs-shadow-3, $hs-shadow-4, $hs-shadow-5, $hs-shadow-6, $hs-shadow-7, $hs-shadow-8, $hs-shadow-9, $hs-shadow-10)
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  -hs-transition: 0.4s linear;
  //Instead of the line below you could use @include transition($hs-transition-1, $hs-transition-2, $hs-transition-3, $hs-transition-4, $hs-transition-5, $hs-transition-6, $hs-transition-7, $hs-transition-8, $hs-transition-9, $hs-transition-10)
  transition: 0.4s linear;
  -hs-transition-property: width, background-color;
  //Instead of the line below you could use @include transition-property($hs-property-1, $hs-property-2, $hs-property-3, $hs-property-4, $hs-property-5, $hs-property-6, $hs-property-7, $hs-property-8, $hs-property-9, $hs-property-10)
  transition-property: width, background-color;
  &::before {
    position: absolute;
    top: -19px;
    right: -6px;
    z-index: 99;
    display: inline-block;
    padding: 4px 8px 2px 8px;
    color: $hs-white;
    content: attr(data-level);
    background-color: #404040;
    // transform: translateX(-50%);
  }
  &::after {
    position: absolute;
    top: -2px;
    right: 0;
    z-index: 99;
    width: 0;
    height: 0;
    content: '';
    border-top: 6px solid #404040;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    // transform: translateX(-50%);
  }
}
.radio {
  display: none;
  &:checked + .label {
    color: white;
    background: rgba(0, 0, 0, 0.25);
  }
}
.label {
  display: inline-block;
  padding: 3px 8px;
  margin: 0 5px 20px;
  color: #aaa;
  //Instead of the line below you could use @include text-shadow($hs-shadow-1, $hs-shadow-2, $hs-shadow-3, $hs-shadow-4, $hs-shadow-5, $hs-shadow-6, $hs-shadow-7, $hs-shadow-8, $hs-shadow-9, $hs-shadow-10)
  text-shadow: 0 1px  black;
  cursor: pointer;
  visibility: hidden;
  //Instead of the line below you could use @include border-radius($hs-radius, $hs-vertical-radius)
  border-radius: 0px;
}
#five:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 5%;
  background-color: #f63a0f;
}
#twentyfive:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 25%;
  background-color: #f27011;
}
#fifty:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 50%;
  background-color: #f2b01e;
}
#seventyfive:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 75%;
  background-color: #f2d31b;
}
#onehundred:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 100%;
  background-color: #86e01e;
}
