
.radio-group { 
  display: flex;
  justify-content: flex-start;
  margin: 0 0 4px 30px;
  width: 300px;
  text-align: right;
  .progress {
    margin: 0;
    width: 100%;
  }
}

.progress {
  flex: 1 0 100%;
  align-items: stretch;
  height: 16px;
  margin: 1.2rem 0;
  background: #bfbfbf;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  // -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  // box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  flex: 1 1 auto;
  align-items: center;
  color: #333;
  font-size: 10px;
  font-weight: 700;
  height: 16px;
  padding: 1px;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  line-height: 1rem;
	// background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  // background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  // background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  // -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  // box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

 .radio.five:checked ~ .progress > .progress-bar {
  width: 5%;
  background-color: #f63a0f;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.radio.twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: #f27011;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.radio.fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: #f2b01e;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.radio.seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: #f2d31b;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.radio.onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #86e01e;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.radio {
  display: none;
}

.label {
  position: relative;
  display: inline-flex;
  // width: 100%;
  margin: 0 4px 0 4px;
  padding: 4px 8px;
  color: #b9b7b7;
  border: 1px solid #b9b7b7;
  border-radius: 3px;
  text-align: center;
  background: #f8f8f8;
  cursor: pointer;
  &::after {
    position: absolute;
    bottom: -6px;
    left: 75%;
    content:'';
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #b9b7b7;
    // transform: translateX(-50%);
  }
 
}

.radio:checked + .label {
  padding-top: 4px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.75);
  &::after {
    border-top: 6px solid rgba(0, 0, 0, 0.75);
    transform: translateX(-50%);
  }
}

.progress-bar-stacker {
  flex-direction: row;
}