@import 'mixins/components.cards';
@import 'mixins/utilities.visibility';
@import '../maps';
@import '../mixins';
@import '../variables';

.hs-card__row {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.hs-card {
  position: relative;
  display: block;
  width: 100%;
  padding: $card-padding;
  overflow: hidden;
  background: $card-background-color;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;

  > .hs-image:not(:first-child) {
    padding: $spacing-medium 0 0;
  }
}

.hs-card + .hs-card {
  margin: $card-margin;
}

.hs-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $card-header-padding;
  font-size: 1.2rem;
  color: $blue-lightest-muted;
  background-color: $blueGray-very-dark;

  .hs-heading {
    padding: 0;
    margin: .5rem auto .25rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }
}

.hs-card__img-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 289px;
  max-height: 289px;
  padding: 0;
  overflow-x: hidden;
  background-color: $white;
  .hs-img-header-img {
    width: 100%;
    height: 100%;
  }
  .hs-img-header__overlay {
    position: relative;
    width: 100%;
    height: 100%;
    &::before {
      position: absolute;
      z-index: 1;
      width: 0px;
      height: 0px;
      content: '';
      background: fade-out($theme-primary, .9);
      opacity: 0;
      transition: all ease .5s;
    }
    &:hover {
      &::before {
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
        color: $white;
        content: '\f067';
        background: rgba(254, 209, 54, .9);
        opacity: 1;
        transition: all ease .5s;
      }
    }
  }
}

.hs-card__body {
  padding: $card-body-padding;
  text-align: center;
}

.hs-card__footer {
  padding: $card-footer-padding;
  display: flex;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  text-align: center;
  .lead, .footer-lead {
    margin-right: auto;
    margin-left: auto;
    font-size: 2.5rem;
    font-weight: 700;

    text-align: center;
    @include script-font;
  }
}

.hs-card__footer--block {
  padding: $card-footer-block-padding;

  .hs-input-group .hs-button {
    border-bottom: 0;
  }

  .hs-input-group .hs-button:first-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .hs-input-group .hs-button:last-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.hs-card__item {
  @include card-item;

  &--divider[role='separator'] {
    @include card-item($card-item-divider-background-color, $card-item-divider-color);

    font-weight: $card-item-divider-font-weight;
  }

  &--brand {
    @include card-item($card-item-brand-background-color, $card-item-brand-color);
  }

  &--info {
    @include card-item($card-item-info-background-color, $card-item-info-color);
  }

  &--warning {
    @include card-item($card-item-warning-background-color, $card-item-warning-color);
  }

  &--success {
    @include card-item($card-item-success-background-color, $card-item-success-color);
  }

  &--error {
    @include card-item($card-item-error-background-color, $card-item-error-color);
  }
}

.hs-card__item + .hs-card__footer--block {
  padding: 0;
}

.hs-card--grouped {
  .hs-card__item {
    &:not(:last-child) {
      border-bottom: 0;
    }
  }
}

.hs-card__divider[role='separator'] {
  height: $card-item-border-width;
  overflow: hidden;
  background-color: $card-item-divider-background-color;
}

.hs-card--menu[role='menu'] {
  z-index: $card-z-index;
  display: block;
  width: $card-width;
  max-height: $card-max-height;
  margin: $card-margin;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .hs-card__control[role='menuitem'] {
    @include card-control;

    &.hs-card__control--brand {
      @include card-control($card-item-brand-background-color, $card-item-brand-color);
    }

    &.hs-card__control--info {
      @include card-control($card-item-info-background-color, $card-item-info-color);
    }

    &.hs-card__control--warning {
      @include card-control($card-item-warning-background-color, $card-item-warning-color);
    }

    &.hs-card__control--success {
      @include card-control($card-item-success-background-color, $card-item-success-color);
    }

    &.hs-card__control--error {
      @include card-control($card-item-error-background-color, $card-item-error-color);
    }
  }
}

.hs-card--accordion {
  .hs-card__control[aria-expanded] {
    @include card-control($card-item-accordion-control-background-color, $card-item-accordion-control-color);

    &::after {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      width: 1em;
      height: 1em;
      background-image: url('data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==');
      background-repeat: no-repeat;
      background-position: center;
      content: '';
    }

    &[aria-expanded='true']::after {
      transform: rotate(180deg);
    }
  }
}

.hs-card__item--pane {
  margin: 0;
  padding: $card-item-padding;
}

.hs-card__control[aria-expanded='false'] + .hs-card__item--pane {
  @include visually-hidden;
}
