@import 'mixins/settings';
@import 'mixins/objects.grid';

.hs-table {
  @include grid;
  @include grid--wrap;
  width: $table-width;
  margin: $table-margin;
  padding: $table-padding;
  border: $table-border;
  border-collapse: collapse;
  border-spacing: 0;
}

.hs-table__caption {
  @include grid;
  @include grid__cell--full;
  max-width: $table-caption-max-width;
  padding: $table-caption-padding;
  color: $table-caption-color;
  font-size: $table-caption-font-size;
  text-align: $table-caption-text-align;
}

.hs-table__row,
.hs-table__head,
.hs-table__body {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  max-width: 100%;
}

.hs-table--striped :not(.hs-table__row--heading).hs-table__row:nth-of-type(odd) {
  color: $table-row-striped-color;
  background-color: $table-row-striped-background-color;
}

.hs-table__cell {
  display: flex;
  flex: 1;
  padding: $table-cell-padding;
  overflow: auto;
  text-align: $table-cell-text-align;
}

.hs-table__row--heading .hs-table__cell {
  display: flex;
  flex: 1;
  color: $table-heading-color;
  font-weight: $table-heading-font-weight;
  font-size: $text-font-size-medium;
  background-color: $table-heading-background-color;
  border-bottom: $table-heading-border;
}

.hs-table--striped .hs-table__row--heading .hs-table__cell {
  color: $table-heading-striped-color;
  background-color: $table-heading-striped-background-color;
}

.hs-table--clickable :not(.hs-table__row--heading).hs-table__row:hover .hs-table__cell,
.hs-table__row--clickable:hover .hs-table__cell {
  color: $table-row-clickable-color;
  background-color: $table-row-clickable-background-color;
}

.hs-table__row--disabled {
  color: $table-row-disabled-color;
  background-color: $table-row-disabled-background-color;
  cursor: default;
}

.hs-table--clickable :not(.hs-table__row--heading).hs-table__row--disabled:hover .hs-table__cell,
.hs-table__row--disabled:hover .hs-table__cell {
  color: $table-row-disabled-color;
  background-color: $table-row-disabled-background-color;
  cursor: not-allowed;
}

.hs-table--condensed {
  font-size: $table-condensed-font-size;

  .hs-table__cell {
    padding: $table-condensed-cell-padding;
  }
}
