@import 'mixins/components.trees';

.hs-tree[role='tree'] {
  display: block;
  margin: $tree-margin;
  padding: $tree-padding;

  .hs-tree[role='tree'] {
    padding: $tree-nested-padding;
  }
}

.hs-tree__item[role='treeitem'] {
  @include tree-item;

  + .hs-tree[role='tree'] {
    display: none;
  }
}

.hs-tree__item[aria-expanded] {
  &::before {
    color: $tree-item-expandable-indicator-color;
    content: '\276F';
  }
}

.hs-tree__item[aria-expanded='true'] {
  &::before {
    color: $tree-item-expanded-indicator-color;
    transform: rotate(90deg);
    content: '\276F';
  }

  + .hs-tree[role='tree'] {
    display: block;
  }
}
