@import 'mixins/settings';

ul.hs-list,
ol.hs-list,
.hs-list[role='list'] {
  display: block;
  margin: $list-margin;
  padding: $list-padding;
  list-style-position: outside;

  ul.hs-list,
  ol.hs-list,
  .hs-list[role='list'] {
    padding: $list-nested-padding;
  }

  .hs-list__item {
    padding: $list-item-padding;
  }

  .hs-list__item--unstyled {
    list-style: $list-item-unstyled-list-style;
  }

  &.hs-list--unstyled {
    padding: $list-unstyled-padding;
    list-style: $list-unstyled-list-style;
  }

  &.hs-list--ordered {
    padding: $list-unstyled-padding;
    list-style: $list-unstyled-list-style;
    counter-reset: ordered;

    .hs-list__item {
      &::before {
        padding: $list-ordered-item-padding;
        content: counters(ordered, '.') ' ';
        counter-increment: ordered;
      }
    }
  }

  &.hs-list--inline {
    padding: $list-inline-padding;

    .hs-list--inline {
      padding: $list-inline-padding;
    }

    .hs-list__item {
      display: inline-block;
      width: auto;
      padding-right: $list-inline-item-padding-right;
    }

    &:not(.hs-list--unstyled) {
      .hs-list__item {
        &::before {
          padding: $list-inline-item-bullet-padding;
          content: $list-inline-item-bullet-content;
        }
      }
    }
  }
}
