@import 'mixins/settings';

.hs-panel-container {
  position: relative;
}

.hs-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.hs-card__body .hs-panel {
  padding: $card-item-padding;
}
