.hs-card__row {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.hs-card {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, .25);
  // 0px 5px 6px 2px rgba(0, 0, 0, 0.3)
  &:not(:last-child) {
    margin-right: .5rem;
  }
  .hs-card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 165px;
    padding: 1.5rem 0 1.5rem 0;
    font-size: 1.2rem;
    color: $blue-lightest-muted;
    // background-color: #f7eedd;
    // background-color: #ffd57f;
    // background-color: #d2c3a5;
    //background-color: #afc9d6;
    background-color: $blueGray-very-dark;
    //background-color: #6f6155;
    .lead {
      align-self: flex-end;
      margin: .5rem auto .25rem;
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;
    }
  }
  .hs-card__body {
    padding: 1.5rem 1rem 1rem 1rem;
    text-align: center;
  }
  .hs-card__footer {
    display: flex;
    align-items: center;
    align-self: flex-end;
    // position: absolute;
    // bottom: 0;
    width: 100%;
    padding: 1rem  2rem 1rem 1rem;
    text-align: center;
    .lead {
      margin-right: auto;
      margin-left: auto;
      font-size: 2.5rem;
      font-weight: 700;

      text-align: center;
      @include script-font;
    }
  }
}
