/** 
  v1.5
*/
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


body {
  position: relative;
  overflow-x: hidden;
  color: map-get($hs-default-colors, text-onLight);
  background-color: map-get($hs-default-colors, background-primary);
  @include body-font;
  -webkit-tap-highlight-color: $hs-theme-primary;
}

.text-muted {
  color: $hs-gray;
}

.text-primary {
  color: $hs-theme-primary;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: #333;
  outline: none;
}

a:link {
  color: $hs-theme-primary;
}

a:hover,
a:focus,
a:active,
a.active {
  color: darken($hs-theme-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
  @include heading-font;
  font-weight: 700;
}

.hs-header {
  position: relative;
  height: 100%;
  min-height: 100vh;

}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: $hs-gray-lighter;
}

.bg-darkest-gray {
  background-color: $hs-gray-darker;
}
// font families
.cursive {
  @include script-font;
  color: $hs-gray;
}

// Restyled Primary Buttons

.btn-primary {
  @include button-variant(#ffffff, $hs-theme-primary, $hs-theme-primary);
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  @include button-variant($hs-gray-base, $hs-theme-primary, $hs-theme-primary);
  @include heading-font;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 3px;
}

// DarkMode Widget
.mode-widget {
  // width: 116px;
  position: relative;
  align-self: stretch;
  // width: 150px;
  height: 100%;
  // padding: 0 1.2rem;
  font-size: 100%;
  font-weight: 400;
  color: $hs-theme-primary;
  text-decoration: none;
  letter-spacing: 1px;
  border: 0 !important;
  outline: 0;
  transition: all .15s ease-out;
  @include heading-font;

  &:hover, &:focus {
    color: #fffccc;
    text-decoration: none;
    cursor: pointer;
    background: rgba(0, 0, 0, .5);
    // padding: 0;
    border: 0 !important;
    outline: 0;

    outline: none;
    transition: all .25s ease-out;

    .mode-widget__link {
      color: $hs-theme-primary;
      //padding-left: 28px !important;
      transition: all .25s ease-out;
    }
  }
  .tiny-text {
    display: block;
    width: 134px;
    font-size: 6px;
    text-align: right;
  }
  .font-bold-regular {
    font-weight: 700;
  }
  .color-white {
    color: $hs-white;
  }

  .fa-inverse {
    color: #f1c876 !important;
  }

  .mode-widget__link {
    @include heading-font;
    padding: .5rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .25s ease-out;
    &:hover,
    &:focus {
      color: $hs-theme-primary;
      text-decoration: none;
      outline: none;
    }
  }
}

.which-mode {
  position: absolute;
  right: 0;
  z-index: 1532;
  display: inline-block;
  flex: 1 1 auto;
  font-size: 115%;
  font-weight: 600;
  white-space: nowrap;
  &::after {
    position: absolute;
    right: 27px;
    bottom: -6px;
    font-size: 6px;
    // font-weight: 400;
    content: 'ENABLED';
  }
}
.shades-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}
.shades-container.is-open {
  .shades {
    position: static;
    transition: all .35s ease-out;
    transform: translateY(-32px);
  }
}
.shades {
  position: absolute;
  z-index: 1533;
  transition: all .35s ease-out;
}

.mode-icon {
  width: 28px;
  font-size: 1.8rem;
  color: currentColor;

}

.ninja-01 {
  // padding-left: 28px !important;
  width: 100%;
  height: 36px;
  white-space: nowrap;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='140.88px' height='143.71px' viewBox='0 0 140.88 143.71' enable-background='new 0 0 140.88 143.71' xml:space='preserve'%3e%3cg%3e%3cellipse display='none' fill='%23CADF84' cx='70.597' cy='134.19' rx='71.854' ry='8.624'/%3e%3cg%3e%3cpath fill='%23B8B8B8' d='M124.294,125.347c-1.442,0-2.797,0.349-4.011,0.915l-14.975-13.912l-4.992,5.374l15.162,14.087 c0,0.002-0.001,0.002-0.001,0.004h18.491C132.271,128.272,128.614,125.347,124.294,125.347z'/%3e%3cpath fill='%23B8B8B8' d='M33.975,133.693l-4.413-19.705l-7.157,1.604l2.762,12.335c-0.811-0.128-1.647-0.204-2.508-0.204 hs-5.637,0-10.409,2.926-12.624,6.468h24.128C34.11,134.022,34.043,133.857,33.975,133.693z'/%3e%3cg%3e%3cg%3e%3crect x='19.647' y='33.086' transform='matrix(0.0203 0.9998 -0.9998 0.0203 59.3888 10.6589)' fill='%23F7C9A6' width='9.216' height='5.096'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cpath fill='%23F5F5F5' d='M47.787,56.526l-19.198,3.025l-1.432,0.226c-2.604,0.411-5.049-1.367-5.459-3.972 hs-0.03-0.193-0.05-0.413-0.056-0.604l-0.432-14.77c-0.052-1.783,1.353-3.271,3.136-3.323c1.414-0.042,2.644,0.837,3.118,2.089 l5.213,13.825l-6.946-4.351l18.206-6.799c3.939-1.471,8.325,0.53,9.796,4.47c1.472,3.938-0.529,8.324-4.469,9.795 C48.79,56.315,48.269,56.447,47.787,56.526z'/%3e%3c/g%3e%3cpath fill='%23FFFFFF' d='M111.461,115.37c-1.578-1.49-3.098-3.041-4.641-4.567l-4.539-4.676c-3.008-3.138-5.966-6.327-8.893-9.549 hs-2.923-3.228-5.843-6.458-8.689-9.766c-2.865-3.288-5.708-6.601-8.465-10.004c-0.533-0.651-1.19-1.283-1.908-1.796 hs-4.377-3.123-10.456-2.108-13.58,2.268c-0.01,0.015-0.017,0.029-0.026,0.043c-3.217-4.039-9.068-4.868-13.28-1.797 hs-4.751,3.465-9.559,6.832-14.388,10.165c-4.811,3.363-9.676,6.635-14.545,9.899l-1.063,0.713 hs-2.251,1.508-3.235,4.426-2.21,7.054c1.004,2.571,1.942,5.158,2.832,7.757c0.856,2.606,1.718,5.212,2.397,7.862 c0.77,2.989,3.791,4.838,6.813,4.135c3.066-0.714,4.974-3.777,4.26-6.844c-0.62-2.665-1.06-5.374-1.504-8.081 hs-0.124-0.82-0.234-1.645-0.349-2.467c3.887-1.992,7.778-3.974,11.704-5.898c5.253-2.615,10.525-5.196,15.855-7.679 c0.542-0.257,1.116-0.589,1.618-0.955c0.866-0.632,1.591-1.384,2.18-2.213c0.556,0.701,1.21,1.34,1.974,1.885 c3.564,2.545,7.044,5.181,10.5,7.841c3.476,2.64,6.877,5.357,10.276,8.078c3.395,2.726,6.758,5.484,10.073,8.295l4.943,4.246 c1.617,1.447,3.258,2.87,4.841,4.354c2.289,2.162,5.879,2.044,8.041-0.244C113.852,121.14,113.749,117.532,111.461,115.37z'/%3e%3cg%3e%3cpath fill='%23B82025' d='M54.465,72.507c-2.313,2.896-2.995,6.581-2.937,10.148c0.04,3.604,0.663,7.218,1.038,10.967 c0.366,3.731,0.571,7.721-0.576,11.784c-0.57,2.015-1.511,3.996-2.779,5.742c-1.265,1.754-2.824,3.26-4.498,4.541l-3.369-5.048 c2.774-1.585,5.004-3.791,6.262-6.764c1.293-2.957,1.651-6.514,1.746-10.135c0.109-3.634-0.055-7.402,0.389-11.19 c0.227-1.888,0.622-3.784,1.341-5.563c0.712-1.778,1.768-3.414,3.112-4.728L54.465,72.507z'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23B82025' d='M54.328,72.802c-1.257,2.765-1.623,5.781-0.994,8.6c0.608,2.835,1.975,5.468,3.265,8.265 c1.287,2.782,2.589,5.854,2.864,9.371c0.314,3.515-0.643,7.153-2.216,10.255l-5.183-3.156c1.51-2.133,2.56-4.452,2.756-7.045 c0.229-2.592-0.4-5.411-1.236-8.302c-0.814-2.892-1.846-5.931-2.025-9.159c-0.211-3.233,0.75-6.443,2.449-9.006L54.328,72.802z' /%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath fill='%23F5F5F5' d='M79.24,71.275H41.804c-0.911,0-1.649-0.738-1.649-1.649V47.769c0-4.245,3.44-7.686,7.686-7.686h25.364 c4.245,0,7.686,3.44,7.686,7.686v21.857C80.89,70.537,80.151,71.275,79.24,71.275z'/%3e%3c/g%3e%3cg opacity='0.3'%3e%3cpath fill='%23292929' d='M80.89,55.649v-7.881c0-2.127-0.864-4.051-2.259-5.442c-1.726-0.55-3.648-0.498-5.43,0.303 L44.573,53.244l-3.392-9.303c-0.65,1.128-1.027,2.432-1.027,3.827v17.438c0.76,0.327,1.622,0.433,2.488,0.226l0.61-0.146 l34.837-8.317c0.443-0.109,0.925-0.269,1.355-0.462C79.969,56.271,80.449,55.979,80.89,55.649z'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23B82025' d='M77.35,78.598H43.693c-0.936,0-1.694-0.759-1.694-1.695v-5.627h37.046v5.627 C79.045,77.839,78.286,78.598,77.35,78.598z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cpolygon fill='%23C9C9C9' points='60.861,50.979 52.107,41.773 52.107,33.359 68.936,33.359 68.936,41.918 '/%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath fill='%23FFFFFF' d='M63.049,43.56l-2.462-0.263c-8.248-0.884-14.219-8.286-13.336-16.534l1.89-17.643 c0.473-4.419,4.438-7.617,8.856-7.145l16.33,1.748c4.419,0.474,7.617,4.439,7.145,8.857l-1.889,17.644 C78.699,38.473,71.297,44.443,63.049,43.56z'/%3e%3c/g%3e%3cg%3e%3crect x='48.629' y='10.799' transform='matrix(0.9943 0.1064 -0.1064 0.9943 1.7082 -6.8599)' fill='%23B82025' width='32.984' height='3.549'/%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath fill='%23B82025' d='M79.801,14.411c1.176,2.572,3.448,4.308,5.897,5.497c2.468,1.215,5.142,2.036,7.823,3.073 c2.667,1.037,5.454,2.272,7.824,4.454c1.175,1.082,2.2,2.405,2.952,3.871c0.758,1.466,1.245,3.047,1.541,4.628l-4.598,0.554 hs-0.123-2.436-0.857-4.713-2.446-6.595c-1.568-1.899-3.866-3.369-6.299-4.682c-2.437-1.326-5.058-2.515-7.484-4.121 hs-2.414-1.57-4.627-3.799-5.471-6.579L79.801,14.411z'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23B82025' d='M79.954,14.606c1.45,1.808,3.378,3.098,5.513,3.64c2.14,0.563,4.403,0.541,6.752,0.627 c2.338,0.083,4.877,0.255,7.367,1.28c2.501,0.997,4.648,2.902,6.218,5.043l-3.936,2.44c-0.932-1.764-2.148-3.277-3.846-4.305 hs-1.687-1.049-3.822-1.593-6.078-2.02c-2.25-0.442-4.675-0.788-6.934-1.777c-2.274-0.972-4.129-2.732-5.287-4.772 L79.954,14.606z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cpath fill='%23F7C9A6' d='M78.646,26.523l-22.731-2.437c-0.75-0.081-1.292-0.754-1.212-1.504l0.574-5.353 c0.08-0.75,0.753-1.293,1.503-1.213l22.731,2.438c0.75,0.08,1.293,0.753,1.212,1.503l-0.573,5.354 C80.069,26.062,79.396,26.604,78.646,26.523z'/%3e%3c/g%3e%3cg%3e%3cg%3e%3cg%3e%3ccircle fill='%23333333' cx='61.934' cy='21.287' r='1.795'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23333333' d='M65.466,22.34c-0.093,0-0.188-0.028-0.269-0.086l-4.817-3.38c-0.211-0.149-0.264-0.44-0.114-0.652 c0.15-0.213,0.441-0.264,0.651-0.114l4.817,3.38c0.211,0.149,0.264,0.44,0.114,0.652C65.757,22.27,65.612,22.34,65.466,22.34z '/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3ccircle fill='%23333333' cx='75.884' cy='22.783' r='1.794'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23333333' d='M72.309,23.073c-0.183,0-0.357-0.108-0.433-0.287c-0.101-0.239,0.012-0.513,0.25-0.613l5.424-2.283 c0.239-0.097,0.514,0.012,0.614,0.25c0.101,0.239-0.012,0.513-0.25,0.613l-5.424,2.283 C72.431,23.061,72.369,23.073,72.309,23.073z'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cg%3e%3cpath fill='%23DBDBDB' d='M120.375,41.645l10.431,2.469c-29.178,2.982-85.449-8.05-87.831-8.521l0.576-2.912 C44.129,32.794,93.89,43.437,120.375,41.645z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cpath fill='%23404040' d='M17.095,31.792l25.058,4.2c0.174,1.403,0.755,2.77,1.662,4.022l1.887-11.257 hs-1.267,0.89-2.261,1.991-2.883,3.261l-25.058-4.2c-0.667-0.111-1.298,0.339-1.41,1.006l-0.261,1.558 C15.978,31.049,16.428,31.681,17.095,31.792z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3crect x='33.018' y='35.27' transform='matrix(0.1319 0.9913 -0.9913 0.1319 70.1502 -4.4678)' fill='%23F7C9A6' width='9.216' height='5.096'/%3e%3c/g%3e%3cg%3e%3ccircle fill='%23F7C9A6' cx='36.821' cy='32.406' r='3.919'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23F7C9A6' d='M39.03,28.164l-5.21,0.693c-0.779,0.104-1.326,0.819-1.223,1.599l0.328,2.468 c0.104,0.779,0.819,1.326,1.599,1.223l5.21-0.693c0.779-0.104,1.326-0.819,1.223-1.599l-0.328-2.468 C40.524,28.608,39.81,28.061,39.03,28.164z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cpath fill='%23F5F5F5' d='M78.047,56.459l-35.135,6.953l-0.615,0.122c-2.156,0.427-4.249-0.976-4.676-3.131 hs-0.013-0.065-0.025-0.145-0.035-0.211l-2.75-19.285c-0.249-1.745,0.964-3.361,2.709-3.609c1.628-0.232,3.147,0.823,3.545,2.381 l4.747,18.894l-5.326-3.219l33.21-13.413c3.896-1.574,8.331,0.31,9.904,4.206c1.574,3.896-0.31,8.33-4.205,9.904 C78.98,56.228,78.494,56.368,78.047,56.459z'/%3e%3c/g%3e%3cg%3e%3ccircle fill='%23F7C9A6' cx='24.229' cy='30.163' r='3.919'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23F7C9A6' d='M21.399,26.307l5.255-0.107c0.786-0.016,1.436,0.607,1.451,1.394l0.051,2.489 c0.017,0.785-0.607,1.436-1.394,1.451l-5.255,0.107c-0.785,0.016-1.436-0.608-1.451-1.394l-0.051-2.489 C19.99,26.972,20.613,26.322,21.399,26.307z'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  background-size: 36px;
  transition: all .15s ease-out;
}

.ninja-02 {
  width: 24px;
  // padding-left: 28px !important;
  width: 100%;
  height: 36px;
  white-space: nowrap;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='140.88px' height='143.71px' viewBox='0 0 140.88 143.71' enable-background='new 0 0 140.88 143.71' xml:space='preserve'%3e%3cg%3e%3cellipse display='none' fill='%23CADF84' cx='69.968' cy='139.283' rx='59.354' ry='7.125'/%3e%3cg%3e%3cpath fill='%23B8B8B8' d='M116.3,137.357c-1.69-2.703-5.332-4.935-9.634-4.935c-0.327,0-0.649,0.017-0.968,0.042l2.854-9.632 l-5.366-1.591l-4.227,14.264c-0.5,0.572-0.87,1.198-1.071,1.852H116.3z'/%3e%3cpath fill='%23B8B8B8' d='M43.02,126.7l-5.368-1.585l-3.724,12.615c-1.224-0.445-2.603-0.707-4.062-0.707 hs-4.302,0-7.943,2.232-9.633,4.936h18.412c-0.021-0.064-0.049-0.127-0.072-0.191L43.02,126.7z'/%3e%3cg%3e%3cpath fill='%23FFFFFF' d='M94.696,64.552l17.704,4.943c1.315,0.368,2.084,1.732,1.718,3.047c-0.283,1.014-1.163,1.702-2.151,1.797 l-18.3,1.728c-3.232,0.305-6.101-2.068-6.405-5.301s2.069-6.1,5.302-6.405C93.295,64.292,94.027,64.368,94.696,64.552z'/%3e%3c/g%3e%3cpath fill='%23FFFFFF' d='M112.243,104.931l-0.623-0.461L92.731,90.457c-0.343-0.251-0.742-0.5-1.136-0.694 hs-3.309-1.63-7.237-0.552-9.298,2.37c-0.007-0.01-0.012-0.021-0.02-0.031c-2.377-3.316-6.993-4.08-10.312-1.702 hs-3.989,2.858-8.022,5.643-12.071,8.4c-4.029,2.794-8.132,5.457-12.195,8.191l-0.683,0.46c-0.433,0.294-0.802,0.695-1.063,1.191 hs-0.698,1.331-1.445,2.627-2.181,3.933l-2.217,3.909c-1.525,2.574-3.047,5.15-4.688,7.647c-1.299,1.98-0.776,4.647,1.19,5.985 c1.987,1.35,4.693,0.834,6.042-1.151c1.68-2.472,3.478-4.864,5.272-7.259l2.765-3.543c0.585-0.748,1.17-1.493,1.762-2.236 c4.117-2.119,8.204-4.288,12.357-6.346c4.372-2.21,8.759-4.394,13.19-6.503c0.375-0.182,0.777-0.415,1.128-0.665 c0.688-0.494,1.26-1.089,1.724-1.744c0.688,0.972,1.619,1.79,2.761,2.352l17.938,8.84l-2.314,12.072 hs-0.404,2.149,0.86,4.328,3.001,4.984c2.3,0.705,4.735-0.587,5.441-2.887l4.852-15.822 C114.553,108.315,113.923,106.177,112.243,104.931z'/%3e%3cg%3e%3cpath fill='%23B82025' d='M83.355,88.448c-2.083,2.61-2.698,5.929-2.646,9.143c0.037,3.247,0.599,6.503,0.937,9.88 c0.33,3.362,0.514,6.956-0.52,10.616c-0.514,1.814-1.36,3.6-2.504,5.174c-1.139,1.58-2.545,2.937-4.052,4.091l-3.035-4.548 c2.499-1.428,4.507-3.415,5.642-6.094c1.164-2.665,1.486-5.867,1.573-9.13c0.098-3.274-0.05-6.668,0.349-10.082 c0.204-1.7,0.561-3.408,1.208-5.011c0.641-1.603,1.593-3.077,2.804-4.259L83.355,88.448z'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23B82025' d='M83.232,88.714c-1.152,2.48-1.475,5.208-0.898,7.744c0.549,2.556,1.776,4.928,2.945,7.445 c1.163,2.506,2.349,5.268,2.608,8.446c0.132,1.574,0.01,3.211-0.358,4.778c-0.364,1.57-0.958,3.061-1.667,4.46l-4.67-2.844 c1.393-1.912,2.346-4.005,2.513-6.342c0.196-2.337-0.381-4.878-1.141-7.481c-0.74-2.605-1.667-5.348-1.83-8.256 hs-0.078-1.446,0.057-2.912,0.444-4.289c0.383-1.381,1.007-2.66,1.766-3.823L83.232,88.714z'/%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath fill='%23FFFFFF' d='M96.233,87.155H67.667c-0.695,0-1.259-0.563-1.259-1.259V69.218c0-3.239,2.626-5.865,5.865-5.865h19.355 c3.239,0,5.864,2.626,5.864,5.865v16.679C97.492,86.593,96.93,87.155,96.233,87.155z'/%3e%3c/g%3e%3cg opacity='0.3'%3e%3cpath fill='%23292929' d='M94.209,80.419l-19.98-4.5l1.182-1.371c0.454-0.528,0.836-1.164,1.085-1.859 c1.094-3.057-0.498-6.423-3.556-7.518c-1.984-0.71-4.094-0.283-5.633,0.936c-0.566,0.902-0.899,1.967-0.899,3.111v12.8 l27.053,2.382c1.198,0.933,2.319,0.139,2.592-1.066C96.348,82.02,95.522,80.716,94.209,80.419z'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23B82025' d='M94.792,92.742H69.107c-0.713,0-1.292-0.577-1.292-1.292v-4.295h28.269v4.295 C96.084,92.165,95.507,92.742,94.792,92.742z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cpolygon fill='%23C9C9C9' points='82.209,71.668 75.529,64.643 75.529,58.223 88.37,58.223 88.37,64.752 '/%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath fill='%23FFFFFF' d='M83.467,64.312l-1.89,0.017C75.247,64.386,70.07,59.3,70.013,52.97l-0.122-13.54 hs-0.031-3.391,2.694-6.165,6.084-6.195l12.532-0.113c3.392-0.031,6.164,2.693,6.195,6.084l0.122,13.54 C94.882,59.077,89.797,64.255,83.467,64.312z'/%3e%3c/g%3e%3cg%3e%3crect x='69.724' y='39.288' transform='matrix(1 -0.009 0.009 1 -0.3617 0.741)' fill='%23B82025' width='25.169' height='2.708'/%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath fill='%23B82025' d='M93.598,40.741c1.117,1.847,2.993,2.961,4.955,3.648c1.978,0.703,4.076,1.091,6.2,1.641 c2.112,0.551,4.334,1.242,6.322,2.687c0.987,0.717,1.879,1.63,2.578,2.674c0.704,1.044,1.214,2.2,1.576,3.372l-3.437,0.825 hs-0.307-1.835-1.064-3.497-2.435-4.783c-1.356-1.301-3.227-2.213-5.187-2.995c-1.963-0.791-4.056-1.46-6.035-2.464 hs-1.969-0.978-3.842-2.472-4.727-4.504L93.598,40.741z'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23B82025' d='M93.731,40.876c1.258,1.243,2.833,2.05,4.499,2.273c1.672,0.239,3.386,0.022,5.174-0.119 c1.778-0.143,3.718-0.236,5.696,0.321c1.983,0.535,3.779,1.791,5.156,3.275l-2.768,2.196c-0.86-1.254-1.917-2.294-3.294-2.924 hs-1.37-0.646-3.038-0.871-4.785-0.996c-1.744-0.138-3.612-0.186-5.412-0.737c-1.809-0.536-3.37-1.708-4.428-3.152 L93.731,40.876z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cpath fill='%23F7C9A6' d='M90.341,49.94l-17.445,0.154c-0.575,0.005-1.046-0.457-1.052-1.032l-0.036-4.108 hs-0.005-0.575,0.458-1.046,1.033-1.051l17.444-0.155c0.576-0.005,1.047,0.458,1.052,1.033l0.036,4.108 C91.379,49.464,90.916,49.935,90.341,49.94z'/%3e%3c/g%3e%3cg%3e%3cg%3e%3cg%3e%3ccircle fill='%23333333' cx='76.699' cy='47.064' r='1.369'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23333333' d='M79.428,47.554c-0.057,0-0.115-0.015-0.17-0.043l-3.949-2.139c-0.173-0.093-0.237-0.311-0.144-0.484 c0.094-0.174,0.31-0.238,0.484-0.144l3.949,2.139c0.173,0.093,0.237,0.311,0.143,0.483 C79.678,47.486,79.555,47.554,79.428,47.554z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3ccircle fill='%23333333' cx='87.404' cy='46.97' r='1.369'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23333333' d='M84.68,47.507c-0.125,0-0.246-0.066-0.311-0.182c-0.098-0.171-0.037-0.39,0.134-0.486l3.911-2.208 c0.169-0.095,0.389-0.036,0.486,0.135c0.098,0.172,0.037,0.39-0.136,0.487l-3.909,2.207 C84.8,47.492,84.739,47.507,84.68,47.507z'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cg%3e%3cpath fill='%23DBDBDB' d='M94.708,8.612l0.244-8.176c6.708,21.352,7.1,65.108,7.113,66.961L99.8,67.414 C99.798,66.965,100.113,28.134,94.708,8.612z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cpath fill='%23404040' d='M103.198,87.325L102.49,67.95c1.023-0.345,1.954-0.989,2.753-1.859l-8.705,0.317 c0.859,0.811,1.836,1.385,2.881,1.654l0.707,19.375c0.019,0.517,0.452,0.919,0.968,0.9l1.205-0.045 C102.813,88.274,103.218,87.841,103.198,87.325z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3crect x='101.692' y='72.462' transform='matrix(0.9971 -0.0761 0.0761 0.9971 -5.3573 8.2223)' fill='%23F7C9A6' width='7.032' height='3.888'/%3e%3c/g%3e%3cg%3e%3ccircle fill='%23F7C9A6' cx='101.041' cy='74.661' r='2.991'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23F7C9A6' d='M98.224,76.979l-0.307-3.998c-0.045-0.598,0.402-1.12,1-1.166l1.894-0.145 c0.599-0.045,1.12,0.402,1.166,1l0.306,4c0.046,0.597-0.401,1.118-1,1.164l-1.894,0.146 C98.791,78.025,98.269,77.579,98.224,76.979z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3crect x='93.31' y='80.253' transform='matrix(-0.9876 -0.1568 0.1568 -0.9876 179.5679 178.5577)' fill='%23F7C9A6' width='7.032' height='3.888'/%3e%3c/g%3e%3cg%3e%3ccircle fill='%23F7C9A6' cx='100.959' cy='82.788' r='2.991'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23F7C9A6' d='M103.58,85.328l0.629-3.961c0.094-0.593-0.311-1.148-0.902-1.243l-1.877-0.298 hs-0.593-0.094-1.148,0.311-1.242,0.903l-0.629,3.961c-0.095,0.592,0.31,1.148,0.902,1.241l1.876,0.299 C102.93,86.325,103.484,85.921,103.58,85.328z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cpath fill='%23FFFFFF' d='M112.588,75.85l-5.702,0.696c-1.366,0.168-2.61-0.805-2.778-2.172c-0.139-1.137,0.513-2.187,1.52-2.606 l5.304-2.204c1.674-0.695,3.593,0.098,4.288,1.77c0.695,1.673-0.098,3.592-1.771,4.289 C113.172,75.736,112.872,75.812,112.588,75.85z'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23F5F5F5' d='M75.757,73.221l-5.311,6.155L67.4,72.974l27.155,6.118c1.313,0.297,2.139,1.601,1.844,2.914 hs-0.272,1.205-1.395,1.998-2.593,1.892l-27.729-2.442c-2.208-0.194-3.838-2.141-3.644-4.348c0.03-0.342,0.103-0.67,0.211-0.979 l0.385-1.075l2.739-7.654c1.095-3.058,4.46-4.649,7.517-3.555c3.058,1.094,4.649,4.459,3.556,7.518 C76.594,72.056,76.211,72.691,75.757,73.221z'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  background-size: 36px;
  transition: all .15s ease-out;
}

.js-page-scroll.btn.btn-xl {
  color: #000;
}
.navbar-left {
  float: none;
}
.navbar-right {
  position: relative;
  display: inline-flex;
  float: none !important;
}

// .nav-link.site-logo {
//   @include script-font;
//   font-size: 2.5rem;
//   color: $hs-theme-primary;
//   background-color: transparent !important;

//   &:focus {
//     color: #fec503;
//     background-color: transparent !important;
//   }

//   &:hover {
//     color: #fec503;
//     background-color: transparent !important;
//   }
// }
// Custom Navigation Bar
.navbar-custom {
  display: flex;// background-color: $hs-gray-darker;
  justify-content: space-between;
  background: #151515;
  background: $hs-bg-black-to-transparent;
  border-color: transparent;
  .navbar-brand.site-logo {
    font-size: 2.5rem;
    color: $hs-theme-primary;
    @include script-font;

    &:hover,
    &:focus,
    &:active,
    &.active {
      // color: darken($hs-theme-primary, 20%);
      color: $hs-theme-primary;
      text-shadow: 0 -1px 4px transparent, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
      transition: all .2s ease-out;
    }
  }
  .navbar-header {
    display: inline-flex;
  }

  @media (min-width: 768px) {
    .navbar-header {
      display: inline-block;
      float: none !important;
    }
  }

  .navbar-collapse {
    position: relative;
    border-color: fade-out(#fff, .02);
    &::before, &::after {
      display: unset !important;
    }
  }
  .navbar-toggle {
    font-size: 12px;
    color: #fff;
    background-color: $hs-theme-primary;
    border-color: darken($hs-theme-primary, 10%);
    @include heading-font;
    &:hover,
    &:focus {
      background-color: $hs-theme-primary;
    }
  }
  .navbar-text {
    color: #fff;
  }
  .nav-item {
    // .nav-item {
    .nav-link {
      @include heading-font;
      font-weight: 400;
      color: #fff;
      letter-spacing: 1px;
      &:hover {
        color: $hs-theme-primary;
        outline: none;
      }
      &:focus {
        color: #fff;
        outline: none;
      }
    }
    // }
  }
  .navbar-nav {

    > .active {

      > .nav-link  {
        font-weight: 700;
        color: $hs-white;
        text-shadow: $hs-text-shadow-light;
        background-color: $hs-theme-primary;
        border-radius: 0;
        &:hover,
        &:focus {
          color: #fff;
          text-shadow: none;
          background-color: darken($hs-theme-primary, 15%);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .nav-wrapper {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .navbar-custom {
    padding: 1rem 0;
    background-color: transparent;
    border: none;
    transition: padding .3s;
    .navbar-brand {
      font-size: 2em;
      transition: all .3s;
    }
    .navbar-right {
      margin-left: auto;
    }
    .navbar-nav {
      &::before, &::after {
        display: unset;
      }
      > .active {
        > .nav-link {
          border-radius: 3px;
        }
      }
    }
  }
}

// Navbar Change on Scroll
@media (min-width: 768px) {
  .navbar-custom.affix {
    padding: 10px 0;
    background: unset;
    background-color: $hs-blueGray-darker;
    .navbar-brand {
      font-size: 3rem;
      font-weight: 400;
    }
  }
}


header, .hs-header {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
  background-color: $hs-gray-medium;
  background-image: url('/assets/img/bg/DRTECHNOLOGY.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top -150px center;
  @include background-cover;
  &::before {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 100vh;
    content: '';
    background: rgba(0, 0, 0, 0.64);
  }
  .hs-intro-text {
    position: absolute;
    left: 50%;
    z-index: 3;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    transform: translateX(-50%);
    .hs-intro-lead-in {
      @include serif-font;
      padding-bottom: 75px;
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      text-align: center;
      text-shadow: $hs-text-shadow-light;
      white-space: nowrap;
    }
    .hs-intro-heading {
      @include heading-font;
      padding-bottom: 75px;
      margin-bottom: 25px;
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      text-align: center;
      text-shadow: $hs-text-shadow-light-spread;
      white-space: nowrap;
    }
  }
}

@media (min-width: 768px) {
  header, .hs-header {
    height: 100vh;
    background-color: #2f2f31;
    .hs-intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .hs-intro-lead-in {
        @include serif-font;
        padding-bottom: 75px;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
      }
      .hs-intro-heading {
        @include heading-font;
        padding-bottom: 50px;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
      }
    }
  }
}

.hs-divider {
  display: flex;
  height: 30px;
}
// Global Section Styles

section, .hs-section {
  // padding: 70px 0;

  h2.hs-section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 6rem;
    text-shadow: $hs-text-shadow-light-spread;
  }
  h3.hs-section-subheading {
    margin-bottom: 4rem;
    font-size: 4rem;
    font-style: italic;
    font-weight: 300;
    color: #fed136;
    text-shadow: $hs-text-shadow-light-spread;
    text-transform: none;
    @include script-font;
  }
}

@media (min-width: 768px) {
  section, .hs-section {
    min-height: 100vh;
    padding: 150px 0;
  }
}

.hs-card__row {
  height: 400px;
}

.hs-dev-logo {
  max-width: 165px;
  max-height: 96px;
  // max-height: 96px;
  vertical-align: middle;
}

.hs-logo-row {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // width: 100%;
  height: 96px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  // background: rgba(71, 66, 55, 0.15);
  .hs-dev-logo {
    vertical-align: middle;
  }
}

// Services Section
.services, .hs-skills {
  color: map-get($hs-default-colors, text-onLight);
  background-image: url('/assets/img/bg/camera-missing.jpg');
  //  background-image: url('/img/bg/team-coders-dim-blur.jpg');
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  .hs-section-heading {
    font-size: 6rem;
    color: $hs-white;
  }
  // .hs-section-subheading {
  //   color: #eeecec;
  //   @include script-font;
  // }
  .hs-card {
    background: $hs-white;
  }
}
.hs-service-heading {
  margin: 15px 0;
  text-transform: none;
}

// Portfolio Section

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background-color: rgba(171, 133, 1, 0.9);
  background-image: initial;
}

#portfolio, .hs-portfolio {
  background-image: url('/assets/img/bg/idea3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
  .hs-section-heading, .hs-section-subheading {
    color: #fff;
  }
  .hs-section-heading {
    font-size: 6rem;
  }
  .hs-section-subheading {
    font-size: 4rem;
  }
  .hs-portfolio-item {
    right: 0;
    margin: 0 0 15px;
    .hs-portfolio-link {
      position: relative;
      display: block;
      max-width: 400px;
      margin: 0 auto;
      .hs-portfolio-hover {
        // background: rgba(254,209,54,.9);
        position: absolute;
        width: 100%;
        height: 100%;
        background: fade-out($hs-theme-primary, .9);
        opacity: 0;
        transition: all ease .5s;
        &:hover {
          background: rgba(254,209,54,.9);
          opacity: 1;
        }
        .hs-portfolio-hover-content {
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          font-size: 20px;
          color: #fff;
          text-align: center;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
    .hs-portfolio-caption {
      max-width: 400px;
      padding: 25px;
      margin: 0 auto;
      text-align: center;
      background-color: #fff;
      h4 {
        margin: 0;
        text-transform: none;
      }
      p {
        @include serif-font;
        margin: 0;
        font-size: 16px;
        font-style: italic;
      }
    }
  }
  * {
    z-index: 2;
  }
}

@media (min-width: 767px) {
  #portfolio, .hs-portfolio {
    .hs-portfolio-item {
      margin: 0 0 30px;
    }
  }
}
/* stylelint-disable-line */ 
hs-modal hs-card hs-card-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  .hs-button {
    color: $hs-white;
    background-color: $hs-blueGray-light;
    border: 1px solid $hs-blueGray-darker;
  } 
}

hs-card-header .hs-heading {
  &.dark {
    color: $hs-theme-primary;
    .hs-heading__sub {
      color: $hs-blueGray-medium;
    }
  }
}

hs-modal hs-card-body {
  color: $hs-white;
}

// Timeline

.hs-timeline {
  position: relative;
  padding: 0;
  list-style: none;
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #f1f1f1;
  }
  > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
    &::before,
    &::after {
      display: table;
      content: " ";
    }
    &::after {
      clear: both;
    }
    .hs-timeline-panel {
      position: relative;
      float: right;
      width: 100%;
      padding: 0 20px 0 100px;
      text-align: left;
      &::before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &::after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    .hs-timeline-image {
      position: absolute;
      left: 0;
      z-index: 100;
      width: 80px;
      height: 80px;
      margin-left: 0;
      color: #fff;
      text-align: center;
      background-color: $hs-theme-primary;
      border: 7px solid #f1f1f1;
      border-radius: 100%;
      h4 {
        margin-top: 12px;
        font-size: 10px;
        line-height: 14px;
      }
    }
    &.hs-timeline-inverted > .hs-timeline-panel {
      float: right;
      padding: 0 20px 0 100px;
      text-align: left;
      &::before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &::after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .hs-timeline-heading {
    h4 {
      margin-top: 0;
      color: inherit;
      &.hs-subheading {
        text-transform: none;
      }
    }
  }
  .hs-timeline-body {
    > p,
    > ul {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .hs-timeline {
    &::before {
      left: 50%;
    }
    > li {
      min-height: 100px;
      margin-bottom: 100px;
      .hs-timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
      }
      .hs-timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
        h4 {
          margin-top: 16px;
          font-size: 13px;
          line-height: 18px;
        }
      }
      &.hs-timeline-inverted > .hs-timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
      }
    }
  }
}

@media (min-width: 992px) {
  .hs-timeline {
    > li {
      min-height: 150px;
      .hs-timeline-panel {
        padding: 0 20px 20px;
      }
      .hs-timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
        h4 {
          margin-top: 30px;
          font-size: 18px;
          line-height: 26px;
        }
      }
      &.hs-timeline-inverted > .hs-timeline-panel {
        padding: 0 20px 20px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .hs-timeline {
    > li {
      min-height: 170px;
      .hs-timeline-panel {
        padding: 0 20px 20px 100px;
      }
      .hs-timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
        h4 {
          margin-top: 40px;
        }
      }
      &.hs-timeline-inverted > .hs-timeline-panel {
        padding: 0 100px 20px 20px;
      }
    }
  }
}

// Team Section

.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    margin: 0 auto;
    border: 7px solid #fff;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}

// Clients Aside

aside.clients {
  img {
    margin: 50px auto;
  }
}

// Contact Section

section#contact, .contact {
  background-color: $hs-gray-darker;
  background-image: url('/assets/img/map-image.png');
  background-repeat: no-repeat;
  background-position: center;
  .hs-section-heading {
    color: #fff;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 236px;
    }
  }
  .form-control:focus {
    border-color: $hs-theme-primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    @include heading-font;
    font-weight: 700;
    color: $hs-gray-lighter;
  }
  :-moz-placeholder { /* Firefox 18- */
    @include heading-font;
    font-weight: 700;
    color: $hs-gray-lighter;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    @include heading-font;
    font-weight: 700;
    color: $hs-gray-lighter;
  }
  :-ms-input-placeholder {
    @include heading-font;
    font-weight: 700;
    color: $hs-gray-lighter;
  }
  .text-danger {
    color: $hs-theme-danger;
  }
}

// Footer

footer, .hs-footer {
  background: $hs-blueGray-very-dark;
  padding: 25px 0;
  text-align: center;
  span.copyright {
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
  ul.hs-quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
}

// Social Buttons

ul.hs-social-buttons {
  margin-bottom: 0;
  li {
    a {
      display: block;
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 40px;
      color: #fff;
      background-color: $hs-gray-darker;
      border-radius: 100%;
      outline: none;
      transition: all .3s;
      &:hover,
      &:focus,
      &:active {
        background-color: $hs-theme-primary;
      }
    }
  }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

.hs-portfolio-modal {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  transition: all .2s ease-in-out;
  transform: translate(-50%, -50%);
  &.is-open {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 100;
  }
  .modal-dialog{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 3rem;
    margin: 0;
    transition: all .2s ease-in-out;
    transform: translate(0%, 0%);
  }
  .modal-content {
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    box-shadow: none;
    h2 {
      margin-bottom: 15px;
      font-size: 3em;
    }
    p {
      margin-bottom: 30px;
    }
    p.item-intro {
      margin: 20px 0 30px;
      font-size: 16px;
      font-style: italic;
      @include serif-font;
    }
    ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
    }
    img {
      margin-bottom: 30px;
    }
  }
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      opacity: .3;
    }
    .lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      background-color: $hs-gray-darker;
      transform: rotate(45deg);

      .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 1px;
        height: 75px;
        background-color: $hs-gray-darker; /* IE 9 */
        transform: rotate(90deg);
      }
    }
  }
  .modal-backdrop {
    display: none;
    opacity: 0;
  }
}

// Highlight Color Customization

::-moz-selection {
  text-shadow: none;
  background: $hs-theme-primary;
}

::selection {
  text-shadow: none;
  background: $hs-theme-primary;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}




.filter-grayscale-full {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.filter-grayscale-half {
  -webkit-filter: grayscale(.5);
          filter: grayscale(.5);
}
.hidden-gone {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.hs-flex-stack {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
// .flex,
// .flex-stack {
//   display: flex;
//   flex: 1;
//   align-items: center;
// }

.hs-HorFlexContainer {
  display: flex;
  flex-direction: row;
}

.hs-VertFlexContainer {
  display: flex;
  flex-direction: column;
}
.FlexFill {
  box-sizing: border-box;
  flex: 1; /* this essentially means "use all remaining space" if it's in a series of other Flex elements */
  overflow: auto;
}
.bg-lighter-lime-green {
  background-color: #e7ffcb;
}
.bg-lime-green {
  background-color: #86e01e;
  // background-color: #86e01e;
}

.bg-heavy-yellow {
  background-color: #f2b01e;
}

.bg-less-heavy-yellow {
  background-color: rgb(242, 211, 27);
}

.bg-less-heavy-yellow--trans50 {
  background-color: rgba(242, 211, 27, .5);
}

.bg-orange {
  background-color: #f27011;
}

.d-none {
  display: none;
}

.hs-info-table {
  width: 85%;
  margin: auto;
  text-align: left;
  .row:not(:last-child) {
    border-bottom: 1px solid $hs-gray-lighter;
  }
  [class^="col-"] {
    padding: .7rem;
  }
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.flex-start { 
  justify-content: flex-start; 
}

.flex-end { 
  justify-content: flex-end; 
}  

.center { 
  justify-content: center; 
}  


.space-between { 
  justify-content: space-between; 
}

.space-around {
  justify-content: space-around;
}


.space-evenly { 
  justify-content: space-evenly; 
}

.flex-item {
  width: 35px;
}

.hs-border-top-white {
  border-top: 1px;
  border-top-color: $hs-white;
}

.hs-info-message {
  padding: .7rem;
  &--black {
    color: #fff;
    background: $hs-black_75;
    .hs-info-link {
      color: $hs-theme-primary;
      text-decoration: none;
      &:visited {
        color: $hs-theme-primary;
      }
      &:hover {
        color: $hs-white;
      }
    }
  }
}

.hs-text{
  &-lg {
    font-size: 3rem;
  }
  &-xl {
    font-size: 5rem;
  }
}