


// Mixins

// Bootstrap Button Variant

@mixin button-variant($hs-color, $hs-background, $hs-border) {
  color: $hs-color;
  background-color: $hs-background;
  border-color: $hs-border;

  &:focus,
  &.focus {
    color: $hs-color;
    background-color: darken($hs-background, 10%);
        border-color: darken($hs-border, 25%);
  }
  &:hover {
    color: $hs-color;
    background-color: darken($hs-background, 10%);
        border-color: darken($hs-border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $hs-color;
    background-color: darken($hs-background, 10%);
        border-color: darken($hs-border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $hs-color;
      background-color: darken($hs-background, 17%);
          border-color: darken($hs-border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $hs-background;
          border-color: $hs-border;
    }
  }

  .badge {
    color: $hs-background;
    background-color: $hs-color;
  }
}

// Background Cover Mixin

@mixin background-cover {
  -hs-background-size: cover;
  background-size: cover;
}

// Font Mixins

@mixin serif-font {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin script-font {
  font-family: $hs-font-cursive-Caveat;
}

@mixin body-font {
  font-family: "Roboto", sans-serif;
}

@mixin heading-font {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

// functions

/*
 * CSS CUSTOM VARIABLE FUNCTION
 *
 * Get css vars from scss vars
 *
 * Use:
 * `color: v(primary);`
 * `color: v(primary, #000);`
 * `padding-left: v(x-padding, 2rem);`
 * `transform: translate3d(v(x-delta), v(y-delta), 0);`
 *
 * Parameters:
 *  $hs-Var: name of the SASS variable, without its double hyphen prefix
 *  $hs-fallback: (optional, null by default): custom property fallback value
 */
// $hs-colors: map-merge($hs-map1: $hs-hs-grays, $hs-map2: $hs-hs-dark-mode-colors);
// $hs-keys: map-keys($hs-colors);

// @function getV($hs-var, $hs-fallback: null) {
//   @if map-has-key($hs-colors, $hs-var) {
//     $hs-cssVarName: #{$hs-var};
//   }
//   @if($hs-fallback) {
//     @return var(--$hs-cssVarName, $hs-fallback);
//   } @else {
//     @return var(--$hs-cssVarName);
//   }
// }

// accessor functions
// z-index: 
// usage: z-index(global, nav); z-index(dm-switcher, button)
@function z-index($hs-keys...) {
  $hs-value: $hs-z-indexes;

  @each $hs-key in $hs-keys {
    $hs-value: map-get($hs-value, $hs-key);
  }

  @return $hs-value;
}
