// Variables



$color_red_orange:            #f63a0f !default;
$color_orange:                #f27011 !default;
$color_dark_yellow:           #f2b01e !default;
$color_yellow:                #f2d31b !default;
$color_light_green:           #86e01e !default;
$color_silver:                #aaa !default;

// Gray and Brand Colors for use across theme

$theme-primary:               #fed136;
$theme-danger:                #e74c3c;
$theme-background-primary:    map-get($theme-default-colors, background-primary) !default;
$theme-background-secondary:  map-get($theme-default-colors, background-secondary) !default;

$black:                       #000000 !default;
$black_25:                    rgba(0, 0, 0, 0.25) !default;

$gray-base:			              #111111 !default;
$gray-darker:		              lighten($gray-base, 13.5%) !default; // #222
$gray-dark:			              lighten($gray-base, 20%) !default;   // #333
$gray:				                lighten($gray-base, 33.5%) !default; // #555
$gray-light:		              lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:		            #dedede !default; // #dedede
$gray-lightest:		            lighten($gray-base, 93.5%) !default; // #eee

$white:                     #ffffff !default;
$white_8:                   rgba(255, 255, 255, 0.08) !default;
$white_30:                  rgba(255, 255, 255, 0.3) !default;
$white_5:                   rgba(255, 255, 255, 0.05) !default;
$white_10:                  rgba(255, 255, 255, 0.1) !default;

// Dark Mode Colors
$blueGray-medium:           rgb(80, 115, 134);
$blueGray-dark:             rgb(15, 22, 29);
$blueGray-darker:           rgb(12, 15, 17);
$baige-medium:              rgb(167, 158, 139);
$text-onDark:               map-get($theme-dark-mode-colors, text-onDark);
$green-light:               rgb(128, 204, 148);
$blue-light-muted:          rgb(128, 182, 204);
$blue-lighter-muted:        rgb(142, 193, 217);
$blue-lightest-muted:       rgb(155, 203, 230);
$blue-dark:                 rgb(30, 54, 78);
$link-primary:              $theme-primary !default;


$font-cursive-Caveat: 'Caveat', cursive !default;
$font-cursive-NYCD: 'Nothing You Could Do', cursive !default;
$font-cursive-Sedgwick: 'Sedgwick Ave Display', cursive !default;

$text-shadow-light: 0px 5px 7px rgba(0, 0, 0, .85) !default;
$text-shadow-light-spread:0px 4px 13px rgba(0, 0, 0, .75) !default;
$text-shadow-medium: 0px 0px 10px rgba(0, 0, 0, .85) !default;

$bg-black-to-transparent: linear-gradient(0deg, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 100%) !default;
